.error-container {
  width: 90%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 5rem;
  background: rgba(255, 255, 255, 0.143);
  padding: 1em;
}
.error-h1 {
  font-size: 4rem;
}
