.header-ul {
  padding: 1em;
  background: rgba(255, 255, 255, 0.143);
  display: flex;
  cursor: pointer;
  justify-content: center;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  align-items: end;
}
.header-li {
  list-style: none;
}
.header-link {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0.3em;
}
.header-link:hover {
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  color: rgb(255, 153, 0);
}
.active-header-link {
  text-decoration: underline rgb(255, 153, 0);
  text-underline-offset: 10px;
}
@media screen and (min-width: 700px) {
  .header-link {
    padding: 1em;
  }
}
